@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	
}


body{
	background-color: #f4f4f4;
	color: #2D2D2D;
	font: normal 16px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 1.6em;
	margin: auto;
}

.header{
	
	width: 95%;
	margin: auto;
	padding: 30px 35px;
	text-align: right;
	position: fixed;
	box-shadow: 0 7px 20px -9px #D0D0D0;
	background-color: #F4F4F4;
	
}

.header ul li{
	
	list-style: none;
	display: inline-block;
	margin: 0px 23px;
	position: relative;
	font-size: 15px;
	
	/* style="border: solid thin; border-radius: 20px; padding: 10px 20px; color:#3866cf" */
	
}

.header ul li a{
	
	text-decoration: none;
	color:#000000;

}

.header ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #3866CF;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
	
}

.header ul li:hover::after{
	width: 100%;
	
}

.logo{
	text-align: left;
	width: 35%;
	float: left;
	padding: 35px 70px;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	

	
}

.container1 {
	width: 95%;
	margin: auto;
	text-align: center;
	padding: 180px 20px;
	
	
}



.box-1 h1{
	font-size: 35px;
	margin: 20px 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	line-height: 35px;

}

.box-1 p {
	margin: 10px;	
}

.box-2 {
	width: 100%;
	color: #fff;
	padding-top: 150px;	
}

/* How we differ */

.box-3 {
	width: 95%;
	margin: auto;
	text-align: center;
	padding: 80px 20px 80px 20px;
	background-color: #3866CF;
	border-radius: 15px;
	color: #FFFFFF;
}

.box-3 h3 {
	font-size: 25px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}

.box-3 p {
	text-align: center;
	padding-left: 10px;
}
.box-4 {
	width: 100%;
	color: #fff;
	padding-top: 140px;
}
.box-5 {
	
	float: left;
	width: 45%;
	margin-left: 10px;
	margin-top: 15px;
	border: 2px solid black;
	border-radius: 15px;
	padding: 20px;
	border-width: 3px;
	min-width: 330px;

}

.box-5 h3{
	padding: 20px;
	right-margin: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 22px;

	
}

.box-5 h4{
	padding: 20px;
	left-margin:20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 22px;
}

.box-5 h5 {
	font-size: 17px;
	padding: 10px;
	cursor: pointer;
	
}


.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.box-6 {
	width: 80%;
	margin: auto;
	padding: 20px;
	color: #F4F4F4;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#171718;
   color:#EDEDED;
	padding: 7px 20px;
	letter-spacing: 3px;
	font-size: 11.5px;
	
}




