@charset "UTF-8";
/* CSS Document */

* {
	
	width: 85%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	padding-bottom: 10px;
	
	
}


body {
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #FCF6CB;
	
}

.header {
	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #2D2D2D;
	border: solid #E3AC1F thick;
	background-color: #FFD25B;
	font-size: 20px;
	width: 530px;
	text-align: center;
	border-radius: 50px 50px 10px 10px;
	
}
